<nz-table *ngIf="true" style="display: inline-block" nzBordered #smallTable class="main-table" nzSize="small" [nzData]="dimData"
  [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{ x: '1000px'}">
  <thead>
    <ng-content select="[table-header]"></ng-content>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="smallTable.data">
      <tr [id]="'data_' + data.data">
        <td nzShowExpand [(nzExpand)]="data.expand" (nzExpandChange)="change($event, data)"></td>
        <td nowrap>{{data.denData}}</td>
        <td nowrap nzAlign="right">{{ data.valor | number : '1.2-2' }}</td>
      </tr>
      <tr [nzExpand]="data.expand" >
        <td></td>
        <td colspan="3" style="padding:0">
          <date-dimension [dimData]="data.children" *ngIf="!data.data" (expandChange)="changeExpand($event)">
            <ng-template let-data>
              <ng-container *ngTemplateOutlet="templ; context: { $implicit: data  }"></ng-container>
            </ng-template>
          </date-dimension>
          <div *ngIf="data.data">
            <ng-container *ngTemplateOutlet="templ; context: { $implicit: data  }"></ng-container>
          </div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>

